<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="nodeJS Template">

    <!-- styles -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link href="/stylesheets/style.css" rel="stylesheet">   
    

    
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-database.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
    <script>
     
    
    </script>

    
     
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
</head>
<body>

    <div >
            <header>
                    <img src="http://www.althaeabellezza.it/images/logo@2x.jpg" />
            </header >

    </div>
             
    <div class="container">
       
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                <div class="register">
                <form action="/login" method="POST">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input type="email" class="form-control email" placeholder="Email address" >
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input type="password" class="form-control password" placeholder="Create password" >
                </div> <!-- form-group// -->                                    
                <div class="form-group">
                    <button class="btn btn-primary btn-block"> Create Account  </button>
                </div> <!-- form-group// -->      
                <p class="text-center">Hai un account? <a href="/login">Log In</a> </p>
                </div>         <!-- div-class register// -->                                                         
                </form>
            </article>
        </div> <!-- card.// -->
        
    </div> 
    <!--container end.//-->

    <!--script-->
    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="/lib/boostrap/js/bootstrap.min.js"></script>
    <script src="/js/signup.js"></script>
        


    
</body>
</html>