<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="nodeJS Template">
        <meta name="author" content="Eduardo Romero">
        
        <!-- styles -->
        <link href="/lib/boostrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">

        
        <!-- Firebase App is always required and must be first -->
        <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-app.js"></script>

        <!-- Add additional services that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase-database.js"></script>

        <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
        
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
</head>

<body>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">Home</a>
                
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item active">
                            <a class="nav-link" >Area Privata</a>
                        </li>
                        
                    </ul>
            
            
                    <div class="form-inline mt-2 mt-md-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item ">
                                <div id="btnLogout" class="nav-link" ><a class="nav-link" href="/">Log-out</a></div>
                            </li>
                            
                        </ul>
                    </div>
            
                    
            
                </div>
            </nav>


<!-- Insert Body here -->
<main role="main" class="container">

    <div class="starter-template">
        <br>
            <h1>Benvenuti, prenotatevi ora per un esperienza magnifica</h1>
            <p class="lead">DESCIRZIONE <br> All you get is this text and a mostly barebones HTML document.</p>
            
            
            <h1>Bootstrap starter template</h1>
            <p class="lead">DESCIRZIONE.<br> All you get is this text and a mostly barebones HTML document.</p>
            
            
            
        
    </div>

    <div class="table-responsive">
            <table id="table-cluster" class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>User</th>
                        <th>Department</th>
                    </thead>
                    <tbody>
                        <tr><td>001</td><td>dodo pippo</td><td>IT</td></tr>
                        <tr><td>002</td><td>eduardo romero</td><td>HD</td></tr>
                    </tbody>
            </table>
        </div>

</main><!-- /.container -->

<footer class="footer">
        <div class="container">
            <span class="text-muted">© Copyright Edaurdo Romero- 2014-2019.</span>
        </div>
    </footer>

    <!--script-->
    <script src="/js/logout.js"></script>

    <script src="/lib/jquery/jquery-3.3.1.min.js"></script>

    <script src="/lib/boostrap/js/bootstrap.min.js"></script>
</body>
</html>